In [1]:
import time, pyperclip
start_i = time.time()

import pandas as pd
from tqdm import tqdm
from datatools.snowflake.Querys import run_sql_query
from datatools.helpers.Utils import run_time

In [2]:
archivos = ['af','us','ac','ap','au','ah','an','am','at']

In [3]:
snow_database   = "vp_informacion"
snow_schema     = "outliers"

In [4]:
%%time

resp = dict()

for a in tqdm(archivos):
    sql = open(f"./querys/dataset/{a}.sql", mode="r", encoding="utf8").read()
    try:
        pyperclip.copy(sql)
    except:
        pass
    table = f"df_{a}"
    resp[a] = run_sql_query(sql=sql, table=table, database=snow_database, schema=snow_schema)

100%|██████████| 9/9 [15:34<00:00, 103.84s/it]

CPU times: total: 7.73 s
Wall time: 15min 34s

In [8]:
dict((k,v["status"].iloc[0]) for k,v in resp.items())

{'af': 'Table DF_AF successfully created.',
 'us': 'Table DF_US successfully created.',
 'ac': 'Table DF_AC successfully created.',
 'ap': 'Table DF_AP successfully created.',
 'au': 'Table DF_AU successfully created.',
 'ah': 'Table DF_AH successfully created.',
 'an': 'Table DF_AN successfully created.',
 'am': 'Table DF_AM successfully created.',
 'at': 'Table DF_AT successfully created.'}

In [9]:
sql = f"""SELECT 'at' as tabla, count(DISTINCT id_carga) AS cargas, count(*) AS reg, count(DISTINCT concat_ws('-',id_carga,factura)) AS facturas FROM {snow_database}.{snow_schema}.df_at
UNION ALL
SELECT 'am', count(DISTINCT id_carga) AS cargas, count(*) AS reg, count(DISTINCT concat_ws('-',id_carga,factura)) AS facturas FROM {snow_database}.{snow_schema}.df_am
UNION ALL
SELECT 'an', count(DISTINCT id_carga) AS cargas, count(*) AS reg, count(DISTINCT concat_ws('-',id_carga,factura)) AS facturas FROM {snow_database}.{snow_schema}.df_an
UNION ALL
SELECT 'au', count(DISTINCT id_carga) AS cargas, count(*) AS reg, count(DISTINCT concat_ws('-',id_carga,factura)) AS facturas FROM {snow_database}.{snow_schema}.df_au
UNION ALL
SELECT 'ap', count(DISTINCT id_carga) AS cargas, count(*) AS reg, count(DISTINCT concat_ws('-',id_carga,factura)) AS facturas FROM {snow_database}.{snow_schema}.df_ap
UNION ALL
SELECT 'ac', count(DISTINCT id_carga) AS cargas, count(*) AS reg, count(DISTINCT concat_ws('-',id_carga,factura)) AS facturas FROM {snow_database}.{snow_schema}.df_ac
UNION ALL
SELECT 'af', count(DISTINCT id_carga) AS cargas, count(*) AS reg, count(DISTINCT concat_ws('-',id_carga,factura)) AS facturas FROM {snow_database}.{snow_schema}.df_af
UNION ALL
SELECT 'us', count(DISTINCT id_carga) AS cargas, count(*) AS reg, NULL AS facturas FROM {snow_database}.{snow_schema}.df_us"""
aaa = run_sql_query(sql)
aaa

  TABLA  CARGAS       REG    FACTURAS
0    at  205685   2099569   2099569.0
1    am  224340   2480503   2480503.0
2    an    9573     33717     33717.0
3    au   76092    478996    478996.0
4    ap  277757   5647970   5647970.0
5    ac  242519   4222144   4222144.0
6    af  388438  10541692  10541692.0
7    us  388427    388427         NaN

In [11]:
run_time(start_i)

Tiempo de ejecucion total: 16.04min.
Fecha de ejecucion: 2024-12-16 09:44:01.103293

# Dataset

In [13]:
a = "dataset"

try:
    resp
except:
    resp = dict()

In [14]:
%%time
sql = open(f"./querys/dataset/{a}.sql", mode="r", encoding="utf8").read()
try:
    pyperclip.copy(sql)
except:
    pass
resp[a] = run_sql_query(sql=sql, table=a, database=snow_database, schema=snow_schema)
print(f"{snow_database}.{snow_schema}.{a}", resp[a]["status"][0])

vp_informacion.outliers.dataset Table DATASET successfully created.
CPU times: total: 797 ms
Wall time: 37.9 s

EDA dataset

In [15]:
from datatools.snowflake.Conn import load_snowflake_params
from snowflake.snowpark import Session

In [16]:
params_snow = load_snowflake_params()
session = Session.builder.configs(params_snow).create()
session

In [17]:
DF = session.table(f"{snow_database}.{snow_schema}.{a}")
DF.show(5)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"                                     |"FACTURA"                         |"ID_CARGA"  |"PRESTADOR"                       |"PERIODO_FIN_ANO"  |"PERIODO_FIN_MES"  |"DURACION_FACTURACION"  |"REGIMEN"  |"CONTRATO"                        |"VALOR_COPAGO"  |"VALOR_COMISION"  |"VALOR_DESCUENTOS"  |"VALOR_FACTURA"  |"PERSONAS_UNICAS"  |"MUJERES"  |"HOMBRES"  |"PERSONAS_RURAL"  |"PERSONAS_C"  |"PERSONAS_VICTIMA"  |"EDAD_AVG"          |"EDAD_STD"          |"EDAD_P50"  |"REG_CONSULTAS"  |"PERSONAS_UNICAS_CON_CONSULTAS"  |"MUJERES_CON_CONSULTAS"  |"MENORES_CON_CONSULTAS"  |"AVG_PERSONAS_CON_CONSULTAS"  |"NUM_CONSULTAS_MUJERES"  |"NUM_CONSULTAS_MENORES"  |"NUM_CONSULTAS_RURALES"  |"NUM_CONSULTAS_DX_CONF"  |"COD_CONSULTAS_UNICOS"  |"DX_CONSULTA_UNICOS"  |"SUM_VALOR_CONSULTAS"  |"AVG_POR_CONSULTA"  |"REG_PROCED"  |"PERSONAS_UNICAS_CON_PROCED"  |"MUJERES_CON_PROCED"  |"MENORES_CON_PROCED"  |"AVG_PERSONAS_CON_PROCED"  |"NUM_PROCED_MUJERES"  |"NUM_PROCED_MENORES"  |"NUM_PROCED_RURALES"  |"COD_PROCED_UNICOS"  |"PROCED_AMBITO_HOSP"  |"PROCED_AMBITO_URG"  |"PROCED_PARA_DX"  |"PROCED_PARA_TERAPIA"  |"PROCED_MEDICO"  |"PROCED_CON_COMPLICACIONES"  |"SUM_VALOR_PROCED"  |"AVG_VALOR_PROM"  |"REG_URG"  |"PERSONAS_UNICAS_CON_URG"  |"MUJERES_CON_URG"  |"MENORES_CON_URG"  |"AVG_PERSONAS_CON_URG"  |"NUM_URG_MUJERES"  |"NUM_URG_MENORES"  |"NUM_URG_RURALES"  |"NUM_INGRESOS_URG"  |"AVG_ESTANCIA_URG"  |"PERSONAS_FALLECIDAS_URG"  |"REG_HOSP"  |"PERSONAS_UNICAS_CON_HOSP"  |"MUJERES_CON_HOSP"  |"MENORES_CON_HOSP"  |"AVG_PERSONAS_CON_HOSP"  |"NUM_HOSP_MUJERES"  |"NUM_HOSP_MENORES"  |"NUM_HOSP_RURALES"  |"NUM_HOSP"  |"AVG_ESTANCIA_HOSP"  |"STD_ESTANCIA_HOSP"  |"P50_ESTANCIA_HOSP"  |"PERSONAS_FALLECIDAS_HOSP"  |"REG_NAC"  |"PERSONAS_UNICAS_CON_NAC"  |"MUJERES_CON_NAC"  |"MENORES_CON_NAC"  |"AVG_PERSONAS_CON_NAC"  |"NUM_NAC_MUJERES"  |"NUM_NAC_MENORES"  |"NUM_NAC_RURALES"  |"NUM_RN_MUJERES"  |"AVG_EDAD_GEST"  |"STD_EDAD_GEST"  |"AVG_PESO_RN"  |"STD_PESO_RN"  |"NUM_NAC_VIVO"  |"REG_MED"  |"PERSONAS_UNICAS_CON_MED"  |"MUJERES_CON_MED"  |"MENORES_CON_MED"  |"AVG_PERSONAS_CON_MED"  |"NUM_MED_MUJERES"  |"NUM_MED_MENORES"  |"NUM_MED_RURALES"  |"NUM_MED"  |"NUM_MED_NOPBS"  |"MED_PBS_CANTIDAD"  |"AVG_MED_PBS_CANTIDAD"  |"STD_MED_PBS_CANTIDAD"  |"P50_MED_PBS_CANTIDAD"  |"MED_PBS_VALOR"  |"AVG_MED_PBS_VALOR"  |"STD_MED_PBS_VALOR"  |"P50_MED_PBS_VALOR"  |"MED_NOPBS_CANTIDAD"  |"AVG_MED_NOPBS_CANTIDAD"  |"STD_MED_NOPBS_CANTIDAD"  |"P50_MED_NOPBS_CANTIDAD"  |"MED_NOPBS_VALOR"  |"AVG_MED_NOPBS_VALOR"  |"STD_MED_NOPBS_VALOR"  |"P50_MED_NOPBS_VALOR"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|09F73748F941525157190BE32F0D4C8A-650390  |09F73748F941525157190BE32F0D4C8A  |650390      |969E45180BDA1B30F53C8EBE895FC17B  |2021               |5                  |0.032856                |S          |85E11F86DC4114FF6FB7AEE3F5C49F55  |0.0             |0.0               |0.0                 |293700.0         |66                 |40         |26         |58                |0             |0                   |56.57575757575758   |24.567057746916426  |61.5        |0                |0                                |0                        |0                        |0.0                           |0                        |0                        |0                        |0                        |0                       |0                     |0.0                    |0.0                 |0             |0                             |0                     |0                     |0.0                        |0                     |0                     |0                     |0                    |0                     |0                    |0                 |0                      |0                |0                            |0.0                 |0.0               |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0                   |0.000000            |0                          |0           |0                           |0                   |0                   |0.0                      |0                   |0                   |0                   |0           |0.000000             |0.0                  |0.0                  |0                           |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0                 |0.0              |0.0              |0.0            |0.0            |0               |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0          |0                |0.0                 |0.0                     |0.0                     |0.0                     |0.0              |0.0                  |0.0                  |0.0                  |0.0                   |0.0                       |0.0                       |0.0                       |0.0                |0.0                    |0.0                    |0.0                    |
|D6BDDEFD6202685083C43A43DB49ED9F-289946  |D6BDDEFD6202685083C43A43DB49ED9F  |289946      |969E45180BDA1B30F53C8EBE895FC17B  |2020               |4                  |0.032856                |S          |85E11F86DC4114FF6FB7AEE3F5C49F55  |0.0             |0.0               |0.0                 |17821.0          |215                |131        |84         |192               |0             |0                   |50.14418604651163   |19.47518553323716   |54.0        |0                |0                                |0                        |0                        |0.0                           |0                        |0                        |0                        |0                        |0                       |0                     |0.0                    |0.0                 |0             |0                             |0                     |0                     |0.0                        |0                     |0                     |0                     |0                    |0                     |0                    |0                 |0                      |0                |0                            |0.0                 |0.0               |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0                   |0.000000            |0                          |0           |0                           |0                   |0                   |0.0                      |0                   |0                   |0                   |0           |0.000000             |0.0                  |0.0                  |0                           |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0                 |0.0              |0.0              |0.0            |0.0            |0               |1          |1                          |1                  |0                  |68.0                    |1                  |0                  |1                  |1          |0                |1.0                 |1.0                     |0.0                     |1.0                     |17821.0          |17821.0              |0.0                  |17821.0              |0.0                   |0.0                       |0.0                       |0.0                       |0.0                |0.0                    |0.0                    |0.0                    |
|6D18C1FDE190A74DEF1396BEED53CB8D-830024  |6D18C1FDE190A74DEF1396BEED53CB8D  |830024      |969E45180BDA1B30F53C8EBE895FC17B  |2021               |10                 |0.032856                |S          |85E11F86DC4114FF6FB7AEE3F5C49F55  |0.0             |0.0               |0.0                 |44000.0          |211                |155        |56         |142               |0             |0                   |53.90995260663507   |17.309959849686052  |58.0        |0                |0                                |0                        |0                        |0.0                           |0                        |0                        |0                        |0                        |0                       |0                     |0.0                    |0.0                 |0             |0                             |0                     |0                     |0.0                        |0                     |0                     |0                     |0                    |0                     |0                    |0                 |0                      |0                |0                            |0.0                 |0.0               |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0                   |0.000000            |0                          |0           |0                           |0                   |0                   |0.0                      |0                   |0                   |0                   |0           |0.000000             |0.0                  |0.0                  |0                           |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0                 |0.0              |0.0              |0.0            |0.0            |0               |1          |1                          |1                  |0                  |47.0                    |1                  |0                  |1                  |1          |0                |1.0                 |1.0                     |0.0                     |1.0                     |36000.0          |36000.0              |0.0                  |36000.0              |0.0                   |0.0                       |0.0                       |0.0                       |0.0                |0.0                    |0.0                    |0.0                    |
|33B0ED3318C6D03084AF7353B92D3AF2-336512  |33B0ED3318C6D03084AF7353B92D3AF2  |336512      |A2D45E9079957919469256A30EF90EE2  |2020               |5                  |0.032856                |S          |4E85102DDC51073E04577EA78ABD8F72  |0.0             |0.0               |0.0                 |10944.0          |914                |587        |327        |7                 |0             |0                   |63.637855579868706  |13.239024684088733  |64.0        |1                |1                                |1                        |0                        |83.0                          |1                        |0                        |0                        |0                        |1                       |1                     |10944.0                |10944.0             |0             |0                             |0                     |0                     |0.0                        |0                     |0                     |0                     |0                    |0                     |0                    |0                 |0                      |0                |0                            |0.0                 |0.0               |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0                   |0.000000            |0                          |0           |0                           |0                   |0                   |0.0                      |0                   |0                   |0                   |0           |0.000000             |0.0                  |0.0                  |0                           |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0                 |0.0              |0.0              |0.0            |0.0            |0               |0          |0                          |0                  |0                  |0.0                     |0                  |0                  |0                  |0          |0                |0.0                 |0.0                     |0.0                     |0.0                     |0.0              |0.0                  |0.0                  |0.0                  |0.0                   |0.0                       |0.0                       |0.0                       |0.0                |0.0                    |0.0                    |0.0                    |

In [18]:
desc = pd.DataFrame(DF.describe().collect())
desc = desc.set_index("SUMMARY").T
desc["count"] = desc["count"].astype(int)
desc

SUMMARY,min,stddev,count,max,mean
ID,00000230D6FD9CB5B56A99D25FDB7E54-1368091,None,10541692,FFFFFFC31AB6C83140B4591702468633-993797,None
FACTURA,00000230D6FD9CB5B56A99D25FDB7E54,None,10541692,FFFFFFC31AB6C83140B4591702468633,None
ID_CARGA,185690.0,395716.592811,10541692,2461450.0,919989.429907
PRESTADOR,009056BA9CC7ABB424251C0F257B3642,None,10541692,FFC81C0EC1DEFA9F959DE691C0D3DF7F,None
PERIODO_FIN_ANO,2020.0,0.755683,10541692,2022.0,2021.236405
...,...,...,...,...,...
P50_MED_NOPBS_CANTIDAD,0.0,529.294661,10541692,851400.0,1.990783
MED_NOPBS_VALOR,0.0,1312113.851649,10541692,1694309058.0,39607.356426
AVG_MED_NOPBS_VALOR,0.0,268868.498447,10541692,115284794.0,8646.003388
STD_MED_NOPBS_VALOR,0.0,42621.985801,10541692,61010544.005275,497.846088
P50_MED_NOPBS_VALOR,0.0,268461.318111,10541692,115284794.0,8581.32086

In [19]:
desc.loc["VALOR_COPAGO":]

SUMMARY,min,stddev,count,max,mean
VALOR_COPAGO,0.0,38894.952851,10541692,24506568.0,998.867731
VALOR_COMISION,0.0,5694.528228,10541692,7685000.0,61.378287
VALOR_DESCUENTOS,0.0,57102.681549,10541692,82450120.0,314.445298
VALOR_FACTURA,1.0,15072829.078649,10541692,3615690000.0,929292.86387
PERSONAS_UNICAS,0.0,972.216437,10541692,216297.0,521.149141
...,...,...,...,...,...
P50_MED_NOPBS_CANTIDAD,0.0,529.294661,10541692,851400.0,1.990783
MED_NOPBS_VALOR,0.0,1312113.851649,10541692,1694309058.0,39607.356426
AVG_MED_NOPBS_VALOR,0.0,268868.498447,10541692,115284794.0,8646.003388
STD_MED_NOPBS_VALOR,0.0,42621.985801,10541692,61010544.005275,497.846088
P50_MED_NOPBS_VALOR,0.0,268461.318111,10541692,115284794.0,8581.32086

In [20]:
%%time 

df = DF.to_pandas()
fName = "./dataset/dataset.parquet"
df.to_parquet(fName)
print(fName, df.shape)

./dataset/dataset.parquet (10541692, 116)
CPU times: total: 2min 43s
Wall time: 3min 38s